<html >
<head>
    <meta charset="UTF-8">
    <title>Panel Eoncore</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="javascripts/appAngular.js"></script>
</head>
<body ng-app="appTareas">

    <div class="container col-md-12">
        <ui-view></ui-view>
    </div>
</body>
</html>
